<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup" class="form">
      <ng-template matStepLabel>Enter client information</ng-template>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Client Name" formControlName="clientNameCtrl" required>
      </mat-form-field>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Address" formControlName="address1Ctrl" required>
      </mat-form-field>
    </form>
  </mat-step>
  <mat-step [optional]="true"></mat-step>
</mat-horizontal-stepper>
